header{
    background-image: url(Images/wesley-tingey-57wo9F-r2-A-unsplash.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    


}

/* .navbar-light .navbar-nav .nav-link {
    color:aliceblue;
    font-size: 18px;
}

.navbar-light .navbar-brand{
    color: aliceblue;
    font-size: 25px;
}

.navbar-toggler-icon{
    color: aliceblue;
}
title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}

#mylanding a:hover {
        color: rgb(218, 64, 198);
} */

    /* height:500px;
    background-repeat: no-repeat;
    min-height: 400px;
    padding-bottom:10px ;
    width: 100vw; */